<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Specialiste in Food Safety, Food Quality and Food Innovation">
    <meta name="author" content="Patrick Bope">
    <title>Agro-Whizz | Welcome</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="icon" href="assets/imgs/AWLogo.jpg" type="image/gif" sizes="24x24">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <header>
        <div class="topnav">
          <div id="topnavright">
              <ul>
                <li>Facebook</li>
                <li><a href="https://twitter.com/AgroWhizz" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li>Contact</li>
                <li><input type="text" placeholder="Search.."><button type="submit" class="searchButton"><i class="fa fa-search"></i></button></li>
                <li><a href="login.html"><button type="submit" >Login/Register</button></a></li>
              </ul>
          </div>
          <div id="topnavleft">
            <ul>
              <li><i class="fa fa-phone"></i>+27 717628603</li>
              <li><i class="fa fa-envelope"></i> info@agrowhizz.com</li>
            </ul>
          </div>
        </div>
        <div class="container">
            
            <div id="branding">
              <h1> <span class="highlight"><img src="assets/imgs/AWLogo.jpg" alt="Logo" height="50" width="50"></span> <span id="agro">Agro</span><span id="whizz">Whizz</span></h1>
            </div>
            <nav>
              <ul>
                <li class="current"><a href="index.html">Home</a></li>
                <li><a href="html/whoweare.html">Who We Are</a></li>
                <li id="whatweserve"><a href="whatweserve.html">What We Serve</a>
        
                </li>
                  
                <li><a href="whatwedo.html">Who We Do</a></li>
                <li><a href="contactus.html">Contact US</a></li>
              </ul>
            </nav>
          </div>
    </header>

    <section id="showcase">
        <div class="container">
            <h1>Specialiste in Food Safety, Food Quality and Food Innovation</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo repellat incidunt quasi quibusdam non nostrum, dolorem molestiae enim, excepturi soluta libero voluptatem provident consectetur accusamus nulla repudiandae nobis. Excepturi, assumenda.</p>
      </div>
    </section>

    <section id="newsletter">
        <div class="container">
            <h1>Get Our Newsletter</h1>
            <form action="">
              <input type="email" placeholder="Enter your email address ... ">
              <button type="submit" class="button_1">Subscribe</button>
            </form>
          </div>
    </section>

    <section id="boxes">
        <div class="container">
            <div class="box">
              <a href="contactus.html" ><i class="fa fa-database fa-5x"></i></a>
              <h3>Food Supplier Database</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nulla id quisquam veritatis eius perspiciatis velit eum unde soluta, veniam aliquid deleniti ex similique. Aperiam molestiae natus nulla sit, quis.</p>
            </div>
    
            <div class="box">
              <i class="fa fa-graduation-cap fa-5x"></i>
              <h3>Food Safety Training</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quia magnam, voluptates, impedit eum laboriosam assumenda eos sit at nihil, dolore! Aliquam, laborum neque corporis molestiae eius ea laudantium porro.</p>
            </div>
    
            <div class="box">
              <i class="fa fa-industry fa-5x"></i>
              <h3>Food Industry Solution</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quia magnam, voluptates, impedit eum laboriosam assumenda eos sit at nihil, dolore! Aliquam, laborum neque corporis molestiae eius ea laudantium porro.</p>
            </div>
          </div>
    </section>

    <section id="mainarticle">

    </section>

    <section id="mainnews">

    </section>

    <section id="resources">
        <div class="container">
            <div class="box">
              <a href="contactus.html" ><i class="fa fa-rss fa-5x"></i></a>
              <h3>Blog</h3>
              <button type="submit" class="button_2">LEARN MORE</button>
            </div>
    
            <div class="box">
              <i class="fa fa-newspaper-o fa-5x"></i>
              <h3>Infographic</h3>
              <button type="submit" class="button_2">DOWNLOAD INFOGRAPHIC</button>
            </div>
    
            <div class="box">
              <i class="fa fa-mobile fa-5x"></i>
              <h3>Mobile Application</h3>
              <button type="submit" class="button_2">LEARN MORE</button>     
            </div>
          </div>
    </section>

    <footer>
        <section id="footer_1">
            <div class="footinfo">
              <h3>Head Office</h3>
              <p>58 batts road Wynberg capetown 7800</p>
              <p>Email: <a href = "mailto: info@agrowhizz.com"> info@agrowhizz.com</a></p>
              <p>Phone <a href="tel:+27717628603">+27 71 762 8603 </a> 
              <p>Facebook</p>
              <p>Twitter</p>

            </div>
            <div class="footinfo">
                <h3>Quick Links</h3>
                <p>58 batts road Wynberg capetown 7800</p>
                <p>Email: <a href = "mailto: info@agrowhizz.com"> info@agrowhizz.com</a></p>
                <p>Phone <a href="tel:+27717628603">+27 71 762 8603 </a> 
                  
            </div>
            <div class="footinfo">
                <h3>Industry Topics</h3>
                <p>58 batts road Wynberg capetown 7800</p>
                <p>Email: <a href = "mailto: info@agrowhizz.com"> info@agrowhizz.com</a></p>
                <p>Phone <a href="tel:+27717628603">+27 71 762 8603 </a> 
                  
            </div>
        </section>
        <div id="footer_2">
          <div class="footbottom">
              <p>Copyright &copy; 2017 Agro-Whizz. <a href="privacy.html">Privacy Policy</a>/<a href="terms.html">Terms of Use</a>/<a href="sitemap.html">Sitemap</a> </p>
          </div>
        </div>
        
    </footer>
  </body>
</html>